.App {
  text-align: center;
}

.table {
  width: 100%;
}

.th1 {
  width: 2em;
}

.th2 {
  width: 35em;
}

.th3 {
  width: 6em;
}

.th4 {
  width: 7em;
}

.th5 {
  width: 7em;
}

.list {
  width: 55em;
  margin-left: -25%;
}

.h3 {
  margin-left: auto;
}

.divComments {
  text-align: center;
}

.commentArea {
  width: 13em;
  height: 7em;
  margin-bottom: 0.5em;
}

.commentButton {
  margin-bottom: 2em;
}
